{
  "openapi": "3.1.0",
  "info": {
    "title": "Deepslate",
    "description": "OpenAPI specification of the public Deepslate API",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://app.deepslate.eu",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "SIP Credentials Management",
      "description": "API endpoints for managing SIP Credentials within an Organization"
    },
    {
      "name": "Assistant Management",
      "description": "API endpoints for managing Assistants within an Organization"
    },
    {
      "name": "SIP Numbers Management",
      "description": "API endpoints for managing SIP Numbers within an Organization"
    },
    {
      "name": "Plan Management",
      "description": "API endpoints for managing pricing Plans within a Vendor"
    },
    {
      "name": "Agent Task Management",
      "description": "API endpoints for retrieving Agent Tasks"
    },
    {
      "name": "Organization Management",
      "description": "API endpoints for managing Organizations within a Vendor"
    },
    {
      "name": "Vendor Management",
      "description": "API endpoints for managing Vendors"
    },
    {
      "name": "Agent Management",
      "description": "API endpoints for managing Agents within an Organization"
    }
  ],
  "paths": {
    "/api/v1/vendors/{vendorId}": {
      "get": {
        "tags": [
          "Vendor Management"
        ],
        "summary": "Get Vendor Details",
        "description": "Retrieves detailed information about a specific vendor, including its associated organizations.",
        "operationId": "getVendor",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved vendor details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission to view this vendor"
          },
          "404": {
            "description": "Vendor not found"
          }
        }
      },
      "put": {
        "tags": [
          "Vendor Management"
        ],
        "summary": "Update Vendor",
        "description": "Updates the details of an existing vendor.",
        "operationId": "updateVendor",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor to update (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          }
        ],
        "requestBody": {
          "description": "Vendor update data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VendorUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Vendor successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission to update this vendor"
          },
          "404": {
            "description": "Vendor not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Vendor Management"
        ],
        "summary": "Delete Vendor",
        "description": "Deletes a specific vendor. This might cascade or be restricted based on associated organizations or other dependencies.",
        "operationId": "deleteVendor",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor to delete (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission to delete this vendor"
          },
          "404": {
            "description": "Vendor not found"
          },
          "409": {
            "description": "Conflict - Vendor cannot be deleted (e.g., due to existing organizations)"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/plans/{planId}": {
      "get": {
        "tags": [
          "Plan Management"
        ],
        "summary": "Get Plan Details",
        "description": "Retrieves detailed information about a specific plan.",
        "operationId": "getPlan",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "planId",
            "in": "path",
            "description": "ID of the Plan (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "c4a9e3f8-a3b2-4d1c-8b7e-5a9f0d1e2c3b"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved plan details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission to view this plan"
          },
          "404": {
            "description": "Plan or Vendor not found"
          }
        }
      },
      "put": {
        "tags": [
          "Plan Management"
        ],
        "summary": "Update Plan",
        "description": "Updates the details of an existing pricing plan.",
        "operationId": "updatePlan",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "planId",
            "in": "path",
            "description": "ID of the Plan to update (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "c4a9e3f8-a3b2-4d1c-8b7e-5a9f0d1e2c3b"
          }
        ],
        "requestBody": {
          "description": "Plan update data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Plan successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission to update this plan"
          },
          "404": {
            "description": "Plan or Vendor not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Plan Management"
        ],
        "summary": "Delete Plan",
        "description": "Deletes a specific pricing plan. May be restricted if the plan is currently in use.",
        "operationId": "deletePlan",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "planId",
            "in": "path",
            "description": "ID of the Plan to delete (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "c4a9e3f8-a3b2-4d1c-8b7e-5a9f0d1e2c3b"
          }
        ],
        "responses": {
          "200": {
            "description": "Plan successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission to delete this plan"
          },
          "404": {
            "description": "Plan or Vendor not found"
          },
          "409": {
            "description": "Conflict - Plan cannot be deleted (e.g., currently assigned to organizations)"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}": {
      "get": {
        "tags": [
          "Organization Management"
        ],
        "summary": "Get Organization Details",
        "description": "Retrieves detailed information about a specific organization, including contact info and associated plan.",
        "operationId": "getOrganization",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission to view this organization"
          },
          "404": {
            "description": "Organization or Vendor not found"
          }
        }
      },
      "put": {
        "tags": [
          "Organization Management"
        ],
        "summary": "Update Organization",
        "description": "Updates the details of an existing organization.",
        "operationId": "updateOrganization",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization to update (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission to update this organization"
          },
          "404": {
            "description": "Organization, Vendor or Plan not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization Management"
        ],
        "summary": "Delete Organization",
        "description": "Deletes a specific organization. May be restricted if the organization has active agents, assistants, etc.",
        "operationId": "deleteOrganization",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization to delete (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission to delete this organization"
          },
          "404": {
            "description": "Organization or Vendor not found"
          },
          "409": {
            "description": "Conflict - Organization cannot be deleted (e.g., due to existing agents/assistants)"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/sip/credentials/{sipCredentialsId}": {
      "get": {
        "tags": [
          "SIP Credentials Management"
        ],
        "summary": "Get SIP Credentials",
        "description": "Retrieves detailed information about a specific sip credentials.",
        "operationId": "getSipCredentials",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "sipCredentialsId",
            "in": "path",
            "description": "ID of the SIP Credentials (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved sip credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipCredentialsDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "SIP Credentials, Organization or Vendor not found"
          }
        }
      },
      "put": {
        "tags": [
          "SIP Credentials Management"
        ],
        "summary": "Update SIP Credentials",
        "description": "Updates an existing SIP credentials record.",
        "operationId": "updateSipCredentials",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "sipCredentialsId",
            "in": "path",
            "description": "ID of the SIP Credentials (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SipCredentialsCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "SIP credentials updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipCredentialsDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "SIP Credentials, Organization or Vendor not found"
          }
        }
      },
      "delete": {
        "tags": [
          "SIP Credentials Management"
        ],
        "summary": "Delete SIP Credentials",
        "description": "Deletes a SIP credentials record. Deletion may be blocked if credentials are in use.",
        "operationId": "deleteSipCredentials",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "sipCredentialsId",
            "in": "path",
            "description": "ID of the SIP Credentials (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "SIP credentials deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "SIP Credentials, Organization or Vendor not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/sip/credentials/{sipCredentialsId}/phone-numbers/{phoneNumberId}": {
      "get": {
        "tags": [
          "SIP Numbers Management"
        ],
        "summary": "Get SIP Phone Number",
        "description": "Retrieves details for a single SIP phone number.",
        "operationId": "read",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "sipCredentialsId",
            "in": "path",
            "description": "ID of the SIP Credentials (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "7866bedc-40a0-46c6-aa77-6b0a25a92f1e"
          },
          {
            "name": "phoneNumberId",
            "in": "path",
            "description": "ID of the Phone Number (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "7866bedc-40a0-46c6-aa77-6b0a25a92f1e"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved phone number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipTelephoneNumberResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Phone number, SIP Credentials, Organization or Vendor not found"
          }
        }
      },
      "put": {
        "tags": [
          "SIP Numbers Management"
        ],
        "summary": "Update SIP Phone Number",
        "description": "Updates an existing SIP phone number.",
        "operationId": "update",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "sipCredentialsId",
            "in": "path",
            "description": "ID of the SIP Credentials (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "7866bedc-40a0-46c6-aa77-6b0a25a92f1e"
          },
          {
            "name": "phoneNumberId",
            "in": "path",
            "description": "ID of the Phone Number (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "7866bedc-40a0-46c6-aa77-6b0a25a92f1e"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SipPhoneNumberCreateViewV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Phone number updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipTelephoneNumberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Phone number, SIP Credentials, Organization or Vendor not found"
          }
        }
      },
      "delete": {
        "tags": [
          "SIP Numbers Management"
        ],
        "summary": "Delete SIP Phone Number",
        "description": "Deletes a SIP phone number.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "sipCredentialsId",
            "in": "path",
            "description": "ID of the SIP Credentials (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "7866bedc-40a0-46c6-aa77-6b0a25a92f1e"
          },
          {
            "name": "phoneNumberId",
            "in": "path",
            "description": "ID of the Phone Number (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "7866bedc-40a0-46c6-aa77-6b0a25a92f1e"
          }
        ],
        "responses": {
          "200": {
            "description": "Phone number deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Phone number, SIP Credentials, Organization or Vendor not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/assistants/{assistantId}": {
      "get": {
        "tags": [
          "Assistant Management"
        ],
        "summary": "Get Assistant Details",
        "description": "Retrieves detailed information about a specific assistant.",
        "operationId": "getAssistant",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "assistantId",
            "in": "path",
            "description": "ID of the Assistant (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved assistant details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Assistant, Organization or Vendor not found"
          }
        }
      },
      "put": {
        "tags": [
          "Assistant Management"
        ],
        "summary": "Update Assistant",
        "description": "Updates an existing assistant's configuration. Allows updating details, extensions, and call event hooks. Extensions and hooks can be modified or added (if ID is provided for update, null/missing for creation within the list).",
        "operationId": "updateAssistant",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "assistantId",
            "in": "path",
            "description": "ID of the Assistant to update (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "requestBody": {
          "description": "Assistant update data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Assistant successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Assistant, Organization or Vendor not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Assistant Management"
        ],
        "summary": "Delete Assistant",
        "description": "Deletes a specific assistant.",
        "operationId": "deleteAssistant",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "assistantId",
            "in": "path",
            "description": "ID of the Assistant to delete (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Assistant successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Assistant, Organization or Vendor not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/agents/{agentId}": {
      "get": {
        "tags": [
          "Agent Management"
        ],
        "summary": "Get Agent Details",
        "description": "Retrieves detailed information about a specific agent.",
        "operationId": "getAgent",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "agentId",
            "in": "path",
            "description": "ID of the Agent (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "98765432-10fe-dcba-9876-543210fedcba"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Agent, Organization or Vendor not found"
          }
        }
      },
      "put": {
        "tags": [
          "Agent Management"
        ],
        "summary": "Update Agent",
        "description": "Updates an existing agent's configuration. Allows updating details, extensions, and call event hooks. Extensions and hooks can be modified or added (if ID is provided for update, null/missing for creation within the list).",
        "operationId": "updateAgent",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "agentId",
            "in": "path",
            "description": "ID of the Agent to update (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "98765432-10fe-dcba-9876-543210fedcba"
          }
        ],
        "requestBody": {
          "description": "Agent update data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Agent, Organization or Vendor not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Agent Management"
        ],
        "summary": "Delete Agent",
        "description": "Deletes a specific agent.",
        "operationId": "deleteAgent",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "agentId",
            "in": "path",
            "description": "ID of the Agent to delete (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "98765432-10fe-dcba-9876-543210fedcba"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Agent, Organization or Vendor not found"
          }
        }
      }
    },
    "/api/v1/vendors": {
      "get": {
        "tags": [
          "Vendor Management"
        ],
        "summary": "List Vendors",
        "description": "Retrieves a paginated list of vendors accessible to the user.",
        "operationId": "getVendors",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the requested page (0-indexed)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort is 'name,asc'. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "name,asc"
            },
            "example": "name,desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of vendors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorDescriptionPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Vendor Management"
        ],
        "summary": "Create Vendor",
        "description": "Creates a new vendor.",
        "operationId": "createVendor",
        "requestBody": {
          "description": "Vendor creation data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VendorCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Vendor successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission to create vendors"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/plans": {
      "get": {
        "tags": [
          "Plan Management"
        ],
        "summary": "List Plans",
        "description": "Retrieves a paginated list of plans belonging to a specific vendor.",
        "operationId": "getPlans",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the requested page (0-indexed)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort is 'name,asc'. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "name,asc"
            },
            "example": "name,desc"
          },
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of plans",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanDescriptionPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User cannot access this vendor's plans"
          },
          "404": {
            "description": "Vendor not found"
          }
        }
      },
      "post": {
        "tags": [
          "Plan Management"
        ],
        "summary": "Create Plan",
        "description": "Creates a new pricing plan for the specified vendor.",
        "operationId": "createPlan",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          }
        ],
        "requestBody": {
          "description": "Plan creation data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Plan successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission to create plans for this vendor"
          },
          "404": {
            "description": "Vendor not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations": {
      "get": {
        "tags": [
          "Organization Management"
        ],
        "summary": "List Organizations",
        "description": "Retrieves a paginated list of organizations belonging to a specific vendor.",
        "operationId": "getOrganizations",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the requested page (0-indexed)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort is 'name,asc'. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "name,asc"
            },
            "example": "name,desc"
          },
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationDescriptionPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User cannot access this vendor's organizations"
          },
          "404": {
            "description": "Vendor not found"
          }
        }
      },
      "post": {
        "tags": [
          "Organization Management"
        ],
        "summary": "Create Organization",
        "description": "Creates a new organization under the specified vendor.",
        "operationId": "createOrganization",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission to create organizations for this vendor"
          },
          "404": {
            "description": "Vendor or Plan not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/sip/credentials": {
      "get": {
        "tags": [
          "SIP Credentials Management"
        ],
        "summary": "List SIP Credentials",
        "description": "Retrieves a paginated list of SIP credentials for the organization.",
        "operationId": "getAllSipCredentials",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the requested page (0-indexed)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort is 'hostname,asc'. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "hostname,asc"
            },
            "example": "hostname,desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved SIP credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipCredentialsDetailsPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Vendor or Organization not found"
          }
        }
      },
      "post": {
        "tags": [
          "SIP Credentials Management"
        ],
        "summary": "Create SIP Credentials",
        "description": "Creates new SIP credentials for the specified organization.",
        "operationId": "createSipCredentials",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SipCredentialsCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "SIP credentials created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipCredentialsDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Vendor or Organization not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/sip/credentials/{sipCredentialsId}/phone-numbers": {
      "get": {
        "tags": [
          "SIP Numbers Management"
        ],
        "summary": "List SIP Phone Numbers",
        "description": "Retrieves a paginated list of phone numbers under the specified SIP credentials.",
        "operationId": "readAll",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "sipCredentialsId",
            "in": "path",
            "description": "ID of the SIP Credentials (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "7866bedc-40a0-46c6-aa77-6b0a25a92f1e"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the requested page (0-indexed)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort is 'telephoneNumber,asc'. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "telephoneNumber,asc"
            },
            "example": "telephoneNumber,desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipTelephoneNumberPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Vendor, Organization or SIP Credentials not found"
          }
        }
      },
      "post": {
        "tags": [
          "SIP Numbers Management"
        ],
        "summary": "Create SIP Phone Number",
        "description": "Creates a new SIP phone number for the given credentials.",
        "operationId": "create",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "sipCredentialsId",
            "in": "path",
            "description": "ID of the SIP Credentials (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "7866bedc-40a0-46c6-aa77-6b0a25a92f1e"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SipPhoneNumberCreateViewV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Phone number created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipTelephoneNumberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Vendor, Organization or SIP Credentials not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/sip/credentials/validate": {
      "post": {
        "tags": [
          "SIP Credentials Management"
        ],
        "summary": "Validate SIP Credentials",
        "description": "Attempts to register with the SIP server using the provided credentials to verify connectivity.",
        "operationId": "validateSipCredentials",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SipCredentialsCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Validation executed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipCredentialsValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Vendor or Organization not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/assistants": {
      "get": {
        "tags": [
          "Assistant Management"
        ],
        "summary": "List Assistants",
        "description": "Retrieves a paginated list of assistants belonging to a specific organization, filtered by user permissions.",
        "operationId": "getAssistants",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the requested page (0-indexed)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort is 'name,asc'. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "name,asc"
            },
            "example": "name,desc"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "phoneNumberId",
            "in": "query",
            "description": "ID of the phone number to filter assistants by used phone number (UUID)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of assistants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantDescriptionPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Organization or Vendor not found"
          }
        }
      },
      "post": {
        "tags": [
          "Assistant Management"
        ],
        "summary": "Create Assistant",
        "description": "Creates a new assistant within the specified organization with the given configuration, including extensions and call event hooks.",
        "operationId": "createAssistant",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          }
        ],
        "requestBody": {
          "description": "Assistant creation data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Assistant successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Organization or Vendor not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/agents": {
      "get": {
        "tags": [
          "Agent Management"
        ],
        "summary": "List Agents",
        "description": "Retrieves a paginated list of agents belonging to a specific organization, filtered by user permissions.",
        "operationId": "getAgents",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the requested page (0-indexed)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort is 'name,asc'. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "name,asc"
            },
            "example": "name,desc"
          },
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDescriptionPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Organization or Vendor not found"
          }
        }
      },
      "post": {
        "tags": [
          "Agent Management"
        ],
        "summary": "Create Agent",
        "description": "Creates a new agent within the specified organization with the given configuration, including extensions and call event hooks.",
        "operationId": "createAgent",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          }
        ],
        "requestBody": {
          "description": "Agent creation data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Organization or Vendor not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/agents/{agentId}/tasks": {
      "get": {
        "tags": [
          "Agent Task Management"
        ],
        "summary": "List Agent Tasks",
        "description": "Retrieves a paginated list of tasks assigned to a specific agent.",
        "operationId": "getTasks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the requested page (0-indexed)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort is 'createdAt,desc'. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "createdAt,desc"
            },
            "example": "createdAt,desc"
          },
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "agentId",
            "in": "path",
            "description": "ID of the Agent (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "98765432-10fe-dcba-9876-543210fedcba"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of agent tasks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTaskDescriptionPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User cannot view organization details or agent task descriptions"
          },
          "404": {
            "description": "Vendor, Organization, or Agent not found"
          }
        }
      },
      "post": {
        "tags": [
          "Agent Task Management"
        ],
        "summary": "Create Agent Task",
        "description": "Creates a new task for a specific agent.",
        "operationId": "createTask",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "agentId",
            "in": "path",
            "description": "ID of the Agent (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "98765432-10fe-dcba-9876-543210fedcba"
          }
        ],
        "requestBody": {
          "description": "Agent task create data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentTaskRestCreateViewV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTaskDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Vendor, Organization, or Agent not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/agents/{agentId}/tasks/{taskId}/execute": {
      "post": {
        "tags": [
          "Agent Task Management"
        ],
        "summary": "Execute Agent Task",
        "description": "Schedules a task for execution.",
        "operationId": "executeTask",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "agentId",
            "in": "path",
            "description": "ID of the Agent (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "98765432-10fe-dcba-9876-543210fedcba"
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "ID of the Task (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "b46ef79c-d4a0-4419-9f12-bf8eefc7110b"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent task scheduled for execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Vendor, Organization, Agent, or Task not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/sip/phone-numbers": {
      "get": {
        "tags": [
          "SIP Numbers Management"
        ],
        "summary": "Find phone numbers by value",
        "description": "Searches phone numbers within the organization by phone number string.",
        "operationId": "findByPhoneNumber",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "The phone number to filter for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0049123456789"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the requested page (0-indexed)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort is 'telephoneNumber,asc'. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "telephoneNumber,asc"
            },
            "example": "telephoneNumber,desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SipTelephoneNumberPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Vendor or Organization not found"
          }
        }
      }
    },
    "/api/v1/vendors/{vendorId}/organizations/{organizationId}/agents/{agentId}/tasks/{taskId}": {
      "get": {
        "tags": [
          "Agent Task Management"
        ],
        "summary": "Get Agent Task Details",
        "description": "Retrieves detailed information about a specific agent task.",
        "operationId": "getTask",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "agentId",
            "in": "path",
            "description": "ID of the Agent (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "98765432-10fe-dcba-9876-543210fedcba"
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "ID of the Task (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "b46ef79c-d4a0-4419-9f12-bf8eefc7110b"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved agent task details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTaskDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Vendor, Organization, Agent, or Task not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Agent Task Management"
        ],
        "summary": "Delete Agent Task",
        "description": "Deletes a specific task for the given agent.",
        "operationId": "deleteTask",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "description": "ID of the Vendor (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "ID of the Organization (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f0e9d8c7-b6a5-4321-fedc-ba9876543210"
          },
          {
            "name": "agentId",
            "in": "path",
            "description": "ID of the Agent (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "98765432-10fe-dcba-9876-543210fedcba"
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "ID of the Task (UUID)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "b46ef79c-d4a0-4419-9f12-bf8eefc7110b"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent task deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - User does not have permission"
          },
          "404": {
            "description": "Vendor, Organization, Agent, or Task not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VendorUpdate": {
        "type": "object",
        "description": "Data required to update an existing Vendor.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated name for the vendor.",
            "example": "ACME Corp. International"
          }
        },
        "required": [
          "name"
        ]
      },
      "EmptyResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the request was successful",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Human-readable message"
          },
          "data": {
            "description": "Payload data object",
            "example": null
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Response timestamp in ISO-8601 format",
            "example": "2025-04-17T14:23:30Z"
          },
          "traceId": {
            "type": "string",
            "description": "Correlation or trace ID"
          }
        },
        "required": [
          "success",
          "timestamp"
        ]
      },
      "PlanUpdate": {
        "type": "object",
        "description": "Data required to update an existing pricing Plan.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated name of the plan.",
            "example": "Standard Tier Plus"
          },
          "includedInboundSeconds": {
            "type": "integer",
            "format": "int32",
            "description": "Updated number of inbound minutes included.",
            "example": 1200
          },
          "includedOutboundSeconds": {
            "type": "integer",
            "format": "int32",
            "description": "Updated number of outbound minutes included.",
            "example": 600
          },
          "inboundSecondsLimit": {
            "type": "integer",
            "format": "int32",
            "description": "Updated hard limit for inbound minutes.",
            "example": 6000
          },
          "outboundSecondsLimit": {
            "type": "integer",
            "format": "int32",
            "description": "Updated hard limit for outbound minutes.",
            "example": 2500
          },
          "inboundSecondPriceCent": {
            "type": "integer",
            "format": "int32",
            "description": "Updated price per inbound minute. In Cents.",
            "example": 2
          },
          "outboundSecondPriceCent": {
            "type": "integer",
            "format": "int32",
            "description": "Updated price per outbound minute. In Cents.",
            "example": 4
          },
          "inboundSecondOverusePriceCent": {
            "type": "integer",
            "format": "int32",
            "description": "Updated price per overuse inbound minute. In Cents.",
            "example": 4
          },
          "outboundSecondOverusePriceCent": {
            "type": "integer",
            "format": "int32",
            "description": "Updated price per overuse outbound minute. In Cents.",
            "example": 6
          },
          "enforceInboundSecondsLimit": {
            "type": "boolean",
            "description": "Updated setting for enforcing inbound limit.",
            "example": true
          },
          "enforceOutboundSecondsLimit": {
            "type": "boolean",
            "description": "Updated setting for enforcing outbound limit.",
            "example": true
          },
          "baseRecurringPriceCent": {
            "type": "integer",
            "format": "int32",
            "description": "Updated base recurring price. In Cents.",
            "example": 1200
          }
        },
        "required": [
          "baseRecurringPriceCent",
          "enforceInboundSecondsLimit",
          "enforceOutboundSecondsLimit",
          "inboundSecondOverusePriceCent",
          "inboundSecondPriceCent",
          "inboundSecondsLimit",
          "includedInboundSeconds",
          "includedOutboundSeconds",
          "name",
          "outboundSecondOverusePriceCent",
          "outboundSecondPriceCent",
          "outboundSecondsLimit"
        ]
      },
      "OrganizationUpdate": {
        "type": "object",
        "description": "Data required to update an existing Organization.",
        "properties": {
          "companyName": {
            "type": "string",
            "description": "Updated name of the organization.",
            "example": "Example Corporation"
          },
          "industry": {
            "type": "string",
            "description": "Updated industry the organization operates in.",
            "example": "Software Development"
          },
          "contact": {
            "$ref": "#/components/schemas/OrganizationUpdateContact",
            "description": "Updated primary contact information for the organization."
          },
          "planId": {
            "type": "string",
            "description": "Updated ID of the Plan assigned to this organization (UUID).",
            "example": "d5b0f4a9-b4c3-5e2d-9c8f-6b0e1d2f3a4b"
          }
        },
        "required": [
          "companyName",
          "contact",
          "industry",
          "planId"
        ]
      },
      "OrganizationUpdateContact": {
        "type": "object",
        "description": "Contact person details.",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "Updated first name of the contact.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Updated last name of the contact.",
            "example": "Smith"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Updated contact phone number (preferably E.164 format).",
            "example": "+491719876543"
          },
          "country": {
            "type": "string",
            "description": "Updated country code of the contact (ISO 3166-1 alpha-2).",
            "example": "DE"
          }
        },
        "required": [
          "country",
          "firstName",
          "lastName",
          "phoneNumber"
        ]
      },
      "SipCredentialsCreate": {
        "type": "object",
        "description": "Data required to create or update SIP credentials.",
        "properties": {
          "hostname": {
            "type": "string",
            "description": "Hostname or IP address of the SIP server.",
            "example": "sipconnect.sipgate.de"
          },
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Port of the SIP server.",
            "example": 5060,
            "maximum": 65535,
            "minimum": 1
          },
          "username": {
            "type": "string",
            "description": "Username for the SIP account.",
            "example": "agent001"
          },
          "password": {
            "type": "string",
            "description": "Password for the SIP account.",
            "example": "strong-password",
            "writeOnly": true
          },
          "maxAgentTasks": {
            "type": "integer",
            "format": "int32",
            "default": "10",
            "description": "Maximum simultaneous agent tasks allowed for these credentials.",
            "example": 10,
            "minimum": 1
          }
        },
        "required": [
          "hostname",
          "password",
          "port",
          "username"
        ]
      },
      "SipCredentialsDetails": {
        "type": "object",
        "description": "Detailed SIP credentials view without exposing the password.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the SIP credentials (UUID).",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "hostname": {
            "type": "string",
            "description": "Hostname or IP address of the SIP server.",
            "example": "sip.example.com"
          },
          "port": {
            "type": "integer",
            "format": "int32",
            "description": "Port of the SIP server.",
            "example": 5060,
            "maximum": 65535,
            "minimum": 1
          },
          "username": {
            "type": "string",
            "description": "Username for the SIP account.",
            "example": "agent001"
          },
          "maxAgentTasks": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum simultaneous agent tasks allowed for these credentials.",
            "example": 5,
            "minimum": 1
          }
        },
        "required": [
          "hostname",
          "id",
          "maxAgentTasks",
          "port",
          "username"
        ]
      },
      "SipCredentialsDetailsResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the request was successful",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Human-readable message"
          },
          "data": {
            "$ref": "#/components/schemas/SipCredentialsDetails",
            "description": "Payload data object"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Response timestamp in ISO-8601 format",
            "example": "2025-04-17T14:23:30Z"
          },
          "traceId": {
            "type": "string",
            "description": "Correlation or trace ID"
          }
        },
        "required": [
          "success",
          "timestamp"
        ]
      },
      "SipPhoneNumberCreateViewV1": {
        "type": "object",
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "Phone number",
            "example": "0049123456789"
          },
          "fallback": {
            "type": "boolean",
            "description": "Flag for fallback phone number",
            "example": true
          }
        },
        "required": [
          "phoneNumber"
        ]
      },
      "SipTelephoneNumber": {
        "type": "object",
        "description": "Detailed view of a telephone number.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the phone number (UUID).",
            "example": "a46ccb36-3bd1-49e5-b36e-d1851c3a63ab"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number",
            "example": "0049123456789"
          },
          "fallback": {
            "type": "boolean",
            "description": "Flag for fallback phone number",
            "example": true
          }
        },
        "required": [
          "id",
          "phoneNumber"
        ]
      },
      "SipTelephoneNumberResponse": {
        "type": "object",
        "description": "Standard API response wrapper",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the request was successful",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Human-readable message"
          },
          "data": {
            "$ref": "#/components/schemas/SipTelephoneNumber",
            "description": "Payload data object"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Response timestamp in ISO-8601 format",
            "example": "2025-04-17T14:23:30Z"
          },
          "traceId": {
            "type": "string",
            "description": "Correlation or trace ID"
          }
        },
        "required": [
          "success",
          "timestamp"
        ]
      },
      "AssistantUpdate": {
        "type": "object",
        "description": "Data required to update an existing Assistant.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated name of the assistant.",
            "example": "Help Desk Assistant v2"
          },
          "systemPrompt": {
            "type": "string",
            "description": "Updated main system prompt defining the assistant's role and behavior.",
            "example": "You are an expert support assistant for ACME Gadgets Pro series. Prioritize Pro customer issues."
          },
          "systemPromptGreeting": {
            "type": "string",
            "description": "Updated initial greeting message from the assistant.",
            "example": "Welcome back! How can I assist you today?"
          },
          "telephoneNumberId": {
            "type": "string",
[...]
